In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score
%matplotlib inline

In [13]:
loan = pd.read_csv("Decision_Tree_ Dataset.csv")
loan.head()
X = loan.iloc[:, :-3]
y = loan.iloc[:, -1]
X

     Initial payment  last payment  credit score
0                201         10018           250
1                205         10016           395
2                257         10129           109
3                246         10064           324
4                117         10115           496
..               ...           ...           ...
995              413         14914           523
996              359         14423           927
997              316         14872           613
998              305         14926           897
999              168         14798           834

[1000 rows x 3 columns]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =  0.1, random_state = 100)
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state=100, max_depth = 3, min_samples_leaf = 4)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=4, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=100, splitter='best')

In [27]:
y_pred = clf_entropy.predict(X_test)
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes', 'yes',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'No', 'No',
       'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes'],
      dtype=object)

In [28]:
accuracy_score(y_test, y_pred) * 100

92.0